@import "./base.css";

@font-face {
  font-family: Eina;
  src: url("@/assets/fonts/Eina01-Regular.ttf");
}

body {
  overflow-x: hidden;
}

#app {
  font-weight: normal;
  width: 100%;
}

.text {
  font-size: 32px;
  line-height: 1.6;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
