@import "./base.css";

@font-face {
  font-family: Eina;
  src: url("@/assets/fonts/Eina01-Regular.ttf");
}

#app {
  font-weight: normal;
  width: 100%;
  overflow: hidden;
}

.text {
  font-size: 1.6vw;
  line-height: 1.6;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

#indicators {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 5000;
  display: none;
}

#indicators div {
  min-width: 30px;
  height: 30px;
  color: white;
  border-radius: 15px;
  padding: 0 5px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  white-space: nowrap;
}
